:root {
    --color-text: #000;
    --background-color: #666;
    --background-colorh: #717171;
    --background-colornav: #505050;
    --colornavhover: #777;
    --filter: invert(0%);
    transition: .5s ease-in-out background-colorh, .5s ease-in-out background-color, .5s ease-in-out background-colornav;
}

#darkmode {
    display: none;
}

#darkmode:checked + .site{
    --color-text: #000;
    --background-color: rgb(180, 180, 180);
    --background-colorh: #ccc;
    --background-colornav: #aaa;
    --colornavhover: #777;
    --filter: invert(100%);
    transition: .5s ease-in-out background-colorh, .5s ease-in-out background-color, .5s ease-in-out background-colornav;
}

#darkmode:checked + .site .darkmodebotao:after{
    content: ' off';
}

.darkmodebotao {
    cursor: pointer;
    transition: 800ms;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.darkmodebotao::after {
    content: ' on';
}

.darkmodebotao:hover {
    color: #fff;
}

body {
    background-color: rgb(71, 71, 71);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--background-colorh);
    padding: 20px 0;
}

.centro {
    position: relative;
    margin: 0 auto;
}

.centro h1 {
    display: flex;
    justify-content: center;
}

#logo {
    transition: 400ms;
    max-width: 200px;
    max-height: 200px;
    filter: var(--filter);
}

#logo:hover {
    max-width: 250px;
    max-height: 250px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--background-colornav);
    box-shadow: 2px 5px 10px ;
}


.nav li {
    display: inline;
    margin: 0 0 0 15; 
    margin-left: 10px;
}

.nav a {
    transition: 800ms;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav a:hover {
    font-size: 26px;
    color: #FFFFFF;
}

nav a:hover {
    color: #FFFFFF;
}

.main {
    background-color: var(--background-color);
    padding: 0 auto;
}

form{
    padding: 2.5rem 28rem;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}
.enviar:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}


footer {
    text-align: center;
    background: url(../imgs/bg.jpg);
    padding: 40px 0;
}

#logorodape {
    max-width: 200px;
    max-height: 200px;
}


.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width: 480px) {
    .centro, .cabeca, .rodape, .input-padrao, .checkbox, .enviar, .copyright  {
        width: auto;
    }

    main {
        width: auto;
        margin: 0 auto;
    }

    h1 {
        display: block;
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    nav li {
        display: inline;
    }

    textarea {
        resize: none;
        display: block;
        max-width: 45%;
    }
}